body {
    font-family: system-ui, -apple-system, sans-serif;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

#navbar a{
    margin-left: 20px;
}

#logo {
    border-radius: 100px;
}

#navbar h1 {
    margin-left: 20px;
    margin-right: auto;
}

main {
    text-align:center;
}